<template>
  <div class="CurrencieList">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <h1 class="hidden-xs"><center>ChupeCoin Market Capitalizations</center></h1>
          <hr>
          <div class="row">
            <div class="col-xl-12">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Market Cap
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Todo</a>
                        <a class="dropdown-item" href="#">Divisas</a>
                        <a class="dropdown-item" href="#">Tokens</a>
                      </div>
                    </li>
                  </ul>
                  <div class="form-inline my-2 my-lg-0">
                    <i class="fas fa-search fa-2x"></i>&nbsp;
                    <input class="form-control mr-sm-4" type="search" placeholder="Buscar Cryptodivisa" aria-label="Search" v-model="searchCoin">
                  </div>
                </div>
              </nav>
              <br>

              <div class="table-responsive">
                <table class="table table-bordered table-hover" style="width: 100%;">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="col-rank text-center" style="width: 26px;">#</th>
                      <th scope="col" class="" style="width: 154px;">Nombre</th>
                      <th scope="col" class="text-center" style="width: 122px;">Market Cap</th>
                      <th scope="col" class="text-right" style="width: 73px;">Precio</th>
                      <th scope="col" class="text-right" style="width: 104px;">Volumen (24h)</th>
                      <th scope="col" class="text-right" style="width: 159px;">Circulante</th>
                      <th scope="col" class="text-right" style="width: 96px;">Cambio (24h)</th>
                      <th scope="col" class="" style="width: 166px;">Gráfico (7d)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="allCoin in filteredCoins" :key="allCoin.id">
                      <th scope="row">{{ allCoin.rank }}</th>
                      <td class="text-right"><span class="s-s-bitcoin currency-logo-sprite" style="width: 10px; height: 10px;"><img :src="allCoin.id | coinLogo" /></span><router-link :to="{name:'coin', params: {id: allCoin.id}}"><span class="current-name">{{ allCoin.name }}</span></router-link></td>
                      <td class="text-right "><span class="currency-normal">${{ allCoin.market_cap_usd | capToUsd }}</span></td>
                      <td class="text-right"><span class="currency-blue">${{ allCoin.price_usd | priceToUsd }}</span></td>
                      <td class="text-right"><span class="currency-blue">${{ allCoin['24h_volume_usd'] | capToUsd }}</span></td>
                      <td class="text-right"><span class="currency-blue">{{ allCoin.available_supply | capToUsd }} {{ allCoin.symbol }}</span></td>
                      <td class="text-right">
                        <div v-if="allCoin.percent_change_24h >= 0">
                          <span class="currency-normal color-up">
                            {{ allCoin.percent_change_24h }}
                           </span>
                        </div>
                        <div v-else>
                          <span class="currency-normal color-down">
                              {{ allCoin.percent_change_24h }}
                          </span>
                        </div>
                      </td>
                    
                      <td>@mdo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from 'axios'
export default {
  name: 'CurrencieList',
  created(){
    this.readCoin();
  },
  data () {
    return {
      allCoins: [],
      urlLogoCoin: 'https://files.coinmarketcap.com/static/img/coins/32x32/',
      searchCoin: '',
    }
  },
  methods: {
    readCoin() {
      Axios.get('https://api.coinmarketcap.com/v1/ticker/?limit=100')
        .then(response => {
          this.allCoins = response.data;
        })
        .catch(e => {
          console.log(e);
        })
    }
  },
  computed: {
    filteredCoins(){
      return this.allCoins.filter((allCoin) => {
        return allCoin.name.toLowerCase().match(this.searchCoin.toLowerCase());
      });
    }
  },
  filters: {
    coinLogo(nombre){
      return 'https://files.coinmarketcap.com/static/img/coins/32x32/' + nombre + '.png';
    },
    capToUsd(value){
            let val = (value/1).toFixed(0).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    priceToUsd(value){
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  }
}
</script>

<style>
.current-name{
  font-weight: 400;
  font-size: 18px;
  color: #428bca;
  text-decoration: none;
}
.s-s-bitcoin {
  background-position: 0 -142px;
  width: 16px;
  height: 16px;
}
.currency-logo-sprite {
  margin-right: 8px;
  margin-top: 4px;
  float: left;
}

.currency-normal {
    font-weight: 400;
    font-size: 18px;
}

.currency-blue {
    font-weight: 400;
    font-size: 18px;
    color: #428bca;
}

.color-up{
  color:rgb(4, 167, 72);
}

.color-down{
  color:rgb(245, 21, 13);
}
</style>
