<template>
  <div class="CurrencieView">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <h1 class="hidden-xs"><center>ChupeCoin Market Capitalizations</center></h1>
          <hr>
        </div>
      </div>
      <div class="row" v-for="coin in coinInfo" :key="coin.id">
          <div class="col-xl-4">
            <!-- <router-link to="/"><button type="button" class="btn btn-primary">Volver</button></router-link> -->
            <div class="table-responsive-sm">
              <table class="table borderless">
                <tbody>
                  <tr>
                    <td width="10"><img :src="coin.id | coinLogo" /></td>
                    <td><h3 class="text-left">{{coin.name}} ({{coin.symbol}})</h3></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-xl-8">
            <div class="table-responsive-sm">
              <table class="table borderless">
                <tbody>
                  <tr>
                    <td v-if="coin.percent_change_24h > 0">
                      <span class="text-large2">${{ coin.price_usd | priceToUsd}}</span>&nbsp;
                      <span class="details-text-medium">USD</span>&nbsp;
                      <span class="text-large2 positive_change">({{coin.percent_change_24h}}%)</span>
                      <br>
                      <span class="details-text-medium text-gray">{{coin.price_btc | priceToBtc}} BTC</span>&nbsp;
                    </td>
                    <td v-else>
                      <span class="text-large2">${{ coin.price_usd | priceToUsd}}</span>&nbsp;
                      <span class="details-text-medium">(USD)</span>&nbsp;
                      <span class="text-large2 negative_change">({{coin.percent_change_24h}}%)</span>
                      <br>
                      <span class="details-text-medium text-gray">{{coin.price_btc | priceToBtc}} BTC</span>&nbsp;
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              <br>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Market Cap</th>
                    <th scope="col">Volumen (24h)</th>
                    <th scope="col">Actual Circulante</th>
                    <th scope="col" v-if="coin.max_supply > 0">Máximo Circulante</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span>${{coin.market_cap_usd | capToUsd}} USD</span> <br>
                      <span class="text-gray">{{totalCrypto(coin.market_cap_usd, coin.price_usd) | capToUsd }} BTC</span>  
                    </td>
                    <td>
                      <span>${{coin['24h_volume_usd'] | capToUsd }}</span> <br>
                      <span class="text-gray">{{totalVolCrypto(coin['24h_volume_usd'], coin.price_usd) | capToUsd}} BTC</span>
                    </td>
                    <td><span>{{coin.available_supply | capToUsd}} {{coin.symbol}}</span></td>
                    <td v-if="coin.max_supply > 0"><span>{{coin.max_supply | capToUsd}} {{coin.symbol}}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>            
          </div>
        <br>
        <graph-chart :coin1="coin1(coin.percent_change_1h)"
                     :coin2="coin2(coin.percent_change_24h)"
                     :coin3="coin3(coin.percent_change_7d)">
        </graph-chart>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from 'axios'
import GraphChart from './GraphChart'
import { bus } from '../main'
export default {
  name: 'CurrencieView',
  components: {
    GraphChart
  },
  created() {
    this.queryCoin();
  },
  data () {
    return {
      id: this.$route.params.id,
      coinInfo: {},
      urlLogoCoin: 'https://files.coinmarketcap.com/static/img/coins/32x32/',
    }
  },
  methods: {
    queryCoin(){
      //console.log(this.id);
      Axios.get('https://api.coinmarketcap.com/v1/ticker/' + this.id + '/')
        .then(response => {
          this.coinInfo = response.data;
         
        })
        .catch(e => {
          console.log(e);
        })
    },
    totalCrypto(cap, btc){
      let total = cap / btc;
      return total;
    },
    totalVolCrypto(vol, price){
      let totalVol = vol / price;
      return totalVol;
    },
    coin1(value){
      bus.$emit('hora', value);
    },
    coin2(value){
      bus.$emit('dia', value);
    },
    coin3(value){
      bus.$emit('semana', value);
    }
  },
  filters: {
    coinLogo(nombre){
      return 'https://files.coinmarketcap.com/static/img/coins/32x32/' + nombre + '.png';
    },
    priceToBtc(value){
      let val = (value/1).toFixed(8).replace('.', ',')
      return val.toString();
    },
    priceToUsd(value){
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    capToUsd(value){
            let val = (value/1).toFixed(0).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.borderless td, .borderless th {
    border: none;
}
.symbol-color {
  color: #999999;
  font-weight: bold;
  font-size: 65%;
}
.text-large2 {
    font-size: 24px;
    line-height: 1.1;
}
.details-text-medium {
    font-size: .9em;
}
.positive_change {
    color: #093;
}

.negative_change {
  color: red;
}
.details-text-medium {
    font-size: .9em;
}

.text-gray {
    color: gray;
}
</style>
