<template>
  <div class="GlobalMarket">
      <div class="outer-container global-stats desktop">
        <div class="container global-stats desktop">
                 
          <div class="row">
            <div class="col-md-1">
              <a class="" href="#"><img src="../assets/chupe.jpg" width="35" height="35" alt="ChupeCoin Market Capitalizations"></a>
            </div>
            <div class="col-md-4">
              <ul class="list-inline stat-counters show-list">
                <li><span class="title-top">Criptodivisas:&nbsp;</span><strong class="value-color">&nbsp;{{this.globalMarket.active_currencies}}</strong></li>
                <li><span class="title-top">/ Mercado:&nbsp;</span><strong class="value-color">&nbsp;{{this.globalMarket.active_markets}}</strong></li>
              </ul>
            </div>
            <div class="col-md-7 text-center">
              <ul class="list-inline stat-counters show-list">
                <li><span class="title-top">Market Cap:&nbsp;</span><strong class="value-color">&nbsp;${{ this.globalMarket.total_market_cap_usd | marketCapToUsd }}</strong></li>
                <li><span class="title-top">/ Vol 24h:&nbsp;</span><strong class="value-color">&nbsp;${{ this.globalMarket.total_24h_volume_usd | marketCapToUsd }}</strong></li>
                <li><span class="title-top">/ Dominio BTC:&nbsp;</span><strong class="value-color">&nbsp;{{ this.globalMarket.bitcoin_percentage_of_market_cap | bitcoin_percentage }}%</strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import Axios from 'axios';
export default {
  name: 'GlobalMarket',
  created (){
    this.readMarket();
  },
  data () {
    return {
      globalMarket: '',
    }
  },
  methods: {
    readMarket(){
      Axios.get('https://api.coinmarketcap.com/v1/global/')
        .then(response => {
          this.globalMarket = response.data;
        })
        .catch(e => {
          console.log(e);
        })
    }
  },
  filters: {
    marketCapToUsd(value){
            let val = (value/1).toFixed(0).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    bitcoin_percentage(value){
            let val = (value/1).toFixed(1)
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.stat-counters {
    margin-top: 4px;
    margin-bottom: 0;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 15px;
}

.global-stats.desktop.outer-container {
    background-color: #262626;
    border-bottom: 1px solid #e7e7e7;
}

.global-stats.desktop.container {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.show-list ul
{
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 0px;
}
.show-list li
{
   list-style-type: none;
   display: inline;
   padding-right: 5px;
}

.title-top{
  font-size: 16px;
  line-height: 1.42857143;
  font-weight: 500;
  color: rgb(233, 231, 231);
}

.value-color{
  color:  #669ccc;
}

</style>
