<template>
  <div id="container">
    <globalMarket></globalMarket>
    <br>
    <div>
      <router-view></router-view>
    </div>
    <br>
    <footerMarket></footerMarket>
  </div>
</template>

<script>
import GlobalMarket from './components/GlobalMarket'
import Footer from './components/Footer'

export default {
  name: 'App',
  components: {
    globalMarket: GlobalMarket,
    footerMarket: Footer,
    
  }
}
</script>

<style>

</style>
